* {
    font-family: 'Indie Flower', cursive;
}
.btnInput:active {
    outline: none !important;
    border-bottom: none;
}
.btnInput:focus {
    outline: none !important;
    border-bottom: none;


}